---
---

<!DOCTYPE html>
<html lang="en">
  {% include header.html %}

  <body>
    {% include navbar.html %} {% include profile.html %} {% include
    projects.html %} {% include experience.html %} {% include education.html %}
    {% include contact.html %}

    <div class="switch">
      <input type="checkbox" id="switch-input" name="toggle" />
      <label for="toggle">
        <i class="bulb">
          <span class="bulb-center"></span>
          <span class="filament-1"></span>
          <span class="filament-2"></span>
          <span class="reflections">
            <span></span>
          </span>
          <span class="sparks">
            <i class="spark1"></i>
            <i class="spark2"></i>
            <i class="spark3"></i>
            <i class="spark4"></i>
          </span>
        </i>
      </label>
      <script src="./scripts/index.js"></script>
    </div>
    {% include footer.html %} {% include project-details.html %}
  </body>
</html>
