<footer class="text-center footer">
  <div class="social-links">
    <div class="row pt-3">

      <div class="col-12 col-md-6 pb-5">
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-5b487cfc-f597-46a5-a224-45dfda5f0ce7"></div>
      </div>

      <div class="col-12 col-md-6">
        <p>
          <p class="head">Connect with me</p>
          <p>
            <i class="fas fa-phone mr-2 mb-2"></i> +91-9876543214
          </p>
        </p>

        <p class="icons-set">
          <a href="mailto:@emailID" add target="_blank"
            ><i class="fas fa-envelope fa-2x mr-3 icon"></i
          ></a>
          <a href="https://www.linkedin.com/" add target="_blank"
            ><i class="fab fa-linkedin fa-2x mr-3 icon"></i
          ></a>
          <a href="https://twitter.com/" add target="_blank"
            ><i class="fab fa-twitter fa-2x mr-3 icon"></i
          ></a>
          <a href="https://github.com/" add target="_blank"
            ><i class="fab fa-github fa-2x mr-3 icon"></i
          ></a>
        </p>
      </div>

    </div>

    <div class="name-date row">
      <p>
        <i class="fas fa-code"></i> &nbsp;&nbsp; with &nbsp;&nbsp;<i
          class="fas fa-heart"
        ></i
        >&nbsp;&nbsp; by &nbsp;&nbsp;
        <a href="https://www.linkedin.com/" target="_blank">
          <span> "Add your name here" </span>
        </a>
        <br/>
        <span>Last updated on mm dd, yyyy <br> &copy; 2021 </span>
        <br/>
        
        
      </p>

    </div>

    

    
  </div>
</footer>
