<footer class = "text-center footer">

    <div class="social-links">
        <p>
            <a href="mailto:@emailID" add target="_blank"><i class="fas fa-envelope fa-2x mr-3 icon"></i></a>
            <a href="https://www.linkedin.com/" add target="_blank"><i class="fab fa-linkedin fa-2x mr-3 icon"></i></a>
            <a href="https://twitter.com/" add target="_blank"><i class="fab fa-twitter fa-2x mr-3 icon"></i></a>
            <a href="https://github.com/" add target="_blank"><i class="fab fa-github fa-2x mr-3 icon"></i></a>
        </p>
    
    <p> 
        This site is developed by
        <a href = "https://www.linkedin.com/" target="_blank">
            <span> "Add your name here" </span>
        </a>
        <br>
        <span>Last updated on mm dd, yyyy</span>
    </p>
</div>
</footer>