<h2 id="projects" class="section-heading" >Projects</h2>
<div class="animated animatedFadeInUp fadeInUp">
  <div class="container card-container">
    {% for item in site.data.projects %}
    <a href="#{{ item.modal-name }}">
      <div class="card">
        <div class="info">

          <div class="project-img">
            <img src="./assets/img/education/{{ item.logo }}">
          </div>

          <p class="title">{{ item.title }}</p>
          <p class="location">{{ item.event }}</p>
          <p class="dates">{{ item.date }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>