<!-- This file is not included in ../index.html yet but contains the code 
that implements the visitor counts. -->


<h2 class="section-heading">Daily Visitors</h2>
<div class="card-container">
  <a href="http://www.freevisitorcounters.com">freevisitorcounters.com</a>
  <script
    type="text/javascript"
    src="https://www.freevisitorcounters.com/auth.php?id=e480732cbed3881887895a81e54a76bdba326c61"
  ></script>
  <script
    type="text/javascript"
    src="https://www.freevisitorcounters.com/en/home/counter/850442/t/5"
  ></script>
</div>
