.footer {
    background-color: #1d539f;
    color: white;

    margin-top: 6rem;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.footer p {
    margin-bottom: 0;
}

.social-links {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: #efb62d;
}

.name-date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .social-links .head {
    font-size: x-large;
    font-weight: bold;
}

.footer .icons-set {
    margin-top: 1rem;
}