@import url("https://fonts.googleapis.com/css?family=Merriweather:900&display=swap");

:root {
  --color-primary: #0047ab;
  --color-secondary: #f0f7ee;
  --background: #1c539f;
  --duration: 1s;
  --nav-duration: calc(var(--duration) / 4);
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --space: 1rem;
  --font-primary: "Helvetica", sans-serif;
  --font-heading: "Merriweather", serif;
  --font-size: 1.125rem;
  --line-height: 1.5;
}

.nav-bar {
  width: 100%;

  padding-top: 10px;

  background-color: var(--background);
  font-family: "Poppins", serif;
  font-weight: 700 !important;
}

.nav-logo img {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

//hamburger menu styles

.navbar-toggler-icon {
  --size: calc(1rem + 4vmin);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  stroke-width: 6;
}